    <style>
        .layer1 {
            background-color: aqua;
        }

        .layer2 {
            background-color: brown;
        }
    </style>

    <div class="col-md-2 sidebar d-md-flex flex-md-column justify-content-center">
        <nav class="navbar navbar-expand-md navbar-light flex-md-column flex-row justify-content-end">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand d-xxl-block d-xl-block d-lg-block d-md-none d-sm-none d-none" href="#">
                <img src="/images/logo.png" alt="Ronalds Personal Logo" width="250" height="150"
                    class="img-fluid logoImage">
            </a>

            <div class="collapse navbar-collapse m-md-1 m-2" id="navbarNav">
                <ul class="navbar-nav d-md-flex flex-md-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Homepage</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Me</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>