<!-- 
    Student Name: Ronald Jr. Ombao
    ID#: 301213219
    Date: October 1, 2022
 -->
<div class="col-md-2 sidebar d-md-flex flex-md-column justify-content-center">
    <nav class="navbar navbar-expand-md navbar-light flex-md-column flex-row justify-content-end">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand d-xxl-block d-xl-block d-lg-block d-md-none d-sm-none d-none" href="/">
            <img src="/images/logo.png" alt="Ronalds Personal Logo" width="250" height="150"
                class="img-fluid logoImage">
        </a>

        <div class="collapse navbar-collapse m-md-1 m-2" id="navbarNav" role="navigation">
            <ul class="navbar-nav d-md-flex flex-md-column">
                <li class="nav-item">
                    <a class="nav-link" href="/">Homepage</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-me">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-me">Contact Me</a>
                </li>
            </ul>
        </div>

    </nav>
</div>