<% layout('../views/layout/mainLayout.ejs') %>
<div class="col-md-10 ms-md-4 h-75 align-self-md-center overflow-auto aboutMeContent">
    <div class="row mb-2">
        <h1 class="text-center my-2">About Me</h1>
    </div>
    <div class="row">
        <div class="col-xxl-4 mb-md-0 mb-3">
            <img src="images/me.jpg" alt="Picture of my self" class="image-fluid">
        </div>
        <div class="col-lg-8 mt-2">
            <p>Hi! I'm Ronald Ombao, proud father of 2 beautiful girls. Ever since I was young, I have always been fascinated by technology.
                I first tried coding C++ when I was in 5th grade but I decided to pursue another line of work. It took a while
                but I finally decided that being a developer is the career that I really want. During my free time I usually look 
                at the night sky with my telescopes at home.
            </p>
            <p>
                I specialize in full stack web development with focus in MEAN stack. I also have some experience in the .NET ecosystem
                and C++. 
            </p>
            <div>
                <a href="docs/resume.pdf">
                    <button class="btn btn-primary ">View resume</button>
                </a>
            </div>
        </div>
    </div>
</div>