<!-- StudentName: Ronald JR Ombao
    ID: 301213219 
    Date: September 27,2022
    Homepage view
-->
<% layout('../views/layout/mainLayout')%>
<div class="col-md-10 ms-md-4 h-50 layer1 align-self-md-center">
    <div class="row my-3">
        <h1>Welcome to my website</h1>
    </div>
    <div class="row mb-5">
        <h4>I am a student learning how to make awesome stuff. 
            <a class="link-dark" href="/about-me">Learn more about me.</a>
        </h4>
    </div>
    <div class="row mt-md-3">
        <h4 class="text-center">Mission Statement:</h4>
        <h5 class="text-center">Envisioning the future through the lens of innovation</>
    </div>
</div>