<% layout('../views/layout/mainLayout') %>
  <style>
    .layer1 {
      background-color: bisque;
    }

    .layer2 {
      background-color: coral;
    }
  </style>

  <div class="container-fluid h-100">
    <div class="row d-flex h-100">
      <div class="col-md-2 sidebar layer1">
        <nav class="navbar navbar-expand-md navbar-light bg-light d-flex flex-md-column">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-md-flex flex-md-column">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-10 h-100 layer2">
        <p>hello world</p>
      </div>
    </div>
  </div>