<% layout('../views/layout/mainLayout.ejs') %>
<div class="col-md-10 ms-md-4 h-100 align-self-md-center overflow-auto aboutMeContent mt-2">
    <div id="projectCarousel" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#projectCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#projectCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#projectCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/realtor.png" class="d-block w-100" alt="Screenshot of a realtor website">
            <div class="carousel-caption d-none d-md-block rounded-pill overflow-auto p-2 opacity-75">
              <h5>Realtor Website</h5>
              <p>Responsive website designed showcase properties being sold by the realtor. Built with Bootstrap 4.0 </p>
            </div>
          </div>
          <div class="carousel-item p-2">
            <img src="images/tasktracker.png" class="d-block w-100" alt="Screenshot of a task tracker web app">
            <div class="carousel-caption d-none d-md-block rounded-pill overflow-auto opacity-75">
              <h5>Task Tracker</h5>
              <p>A simple task tracker I built using Angular and RxJs library. It allow users to view and manage all their upcoming tasks</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/wfm.png" class="d-block w-100" alt="screenshot of wfm app">
            <div class="carousel-caption d-none d-md-block rounded-pill overflow-auto p-2 opacity-75">
              <h5>WFM Software(In Progress)</h5>
              <p>A Human Resources Application I built using the SRS from one of my academic Project.
                It allows Human Resources Department and Payroll to easily manage their work. It also helps
                Employees manage their time offs, schedule, etc. Credits to all my team Members!(Nandu, Jeff, Arpan, Xuen, Taek, Yun-ki)
              </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>