<!-- StudentName: Ronald JR Ombao
    ID: 301213219 
    Date: September 27,2022
    Services View
-->
<!-- 
    Image Sources:
    https://www.peerbits.com/blog/create-secure-rest-api-in-node-js.html
    https://www.goodworklabs.com/6-reasons-to-use-mean-stack-development/
 -->
<% layout('./layout/mainLayout.ejs')%>
<div class="col-md-10 ms-md-4 h-100 layer1 align-self-md-center overflow-auto">
    <div class="row my-3">
        <h1>Services</h1>
    </div>
    <div class="row mb-5">
        <h2>I offer general web development services with the following technologies but not limited to.</h2>
        <ul>
            <li><span><img src="images/restapi.webp" alt="Picture of REST API" width="300" height="200"></span>
                NodeJs Express REST API Design
            </li>
            <li><span><img src="images/Mean.jpeg" alt="picture of mean stack" width="300" height="200"></span>
                Mean Stack
            </li>
        </ul>
    </div>
    <div class="row mt-md-3">
    </div>
</div>