@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html, body{
  height: 100vh;
}
body{
  height: 100%;
  font-family: 'Libre Baskerville', serif;
}

.sidebar{
  height: 100%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-collapse{ 
    background-color: white;
}


@media only screen and (max-width: 768px) {
  .sidebar{
    height: 10%;
  }
}

.logoImage{
  clip-path: circle();
}